[Interface]
Address = {{ wg_ip }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wg_port}}

{% for host in groups[wg_group_name] -%}
{% if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host]['wg_public_key'] }}
AllowedIps = {{ hostvars[host]['wg_ip'] }}/32
Endpoint = {{ hostvars[host]['ansible_' + wg_internal_iface]['ipv4']['address'] }}:{{ wg_port}}
{% endif %}
{% endfor %}
